<div class="modal fade" id="aboutBlogModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content about-modal-content">
      <div class="modal-body">
        <div class="modal-title credits-title">credits</div>
        <div class="credits-body mt-3">
          <ul>
            <li>
              This blog is coded by me with
              <a href="https://www.11ty.dev/">Eleventy</a> with the help of many
              tutorials, a list of which you can find
              <a href="{{ '/posts/2025-12-04-11ty-Resources/' | url }}">here</a
              >. Bootstrap was also used for the HTML template.
            </li>
            <li>
              Artworks are drawn by me unless stated otherwise and any decorative graphics are made by me in
              <a href="https://www.canva.com/">Canva</a>.
            </li>
            <li>
              I am using
              <a href="https://virtualobserver.moe/ayano/comment-widget"
                >Ayano's Comment Widget</a
              >
              for the comments section on the posts.
            </li>
          </ul>
          <hr class="dotted-divider" />
          <div class="close-modal-container">
            <button
              type="button"
              class="btn btn-secondary close-about-modal-btn"
              data-bs-dismiss="modal"
            >
              back to blog
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
