<div class="blog-post-container">
  <p class="post-date">{{ post.data.date | postDate }}</p>
  <div class="post-box">
    <h2 class="post-title"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
    <div class="post-summary-box d-flex flex-row flex-wrap">
      {% if post.data.image %}
      <div class="post-img-container">
        {% postSnippetThumbnail post.data.image, post.data.imageAlt %}
      </div>
      {% endif %}
      <div class="post-text-container">
        <p class="post-text">
          {{ post.data.description | safe }}
        </p>
      </div>
    </div>
    <div class="row justify-content-end">
      <a class="post-link" href="{{ post.url | url }}">read more</a>
    </div>
  </div>
  <hr class="dotted-divider" />
</div>
