<div class="status-feed-box mt-3">
    <div class="status-feed-inner">
        <div class="status-feed-top"></div>
        <div class="status-feed-header mt-2">
            <i class="fa fa-coffee me-1" aria-hidden="true"></i>
status feed</div>
        <div class="status-loading">
            Loading...
        </div>
        <div class="status-list" id="status-list"></div>
    </div>
</div>
<div class="status-feed-imgbox">
    <img src="{{ '/assets/status_phone.png' | url }}" class="status-feed-img"/>
</div>