@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap");
@font-face {
  font-family: afacad;
  src: url("../assets/fonts/Afacad-Regular.ttf");
}

html,
body {
  min-height: 100svh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  color: #2b7379;
  font-family: afacad;
  font-size: 1.05rem;
}

body {
  width: 100%;
  height: 100%;
  background: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Crect width='80' height='80' fill='none' stroke='%23FFFFFF' stroke-width='2'/%3E%3C/svg%3E"),
    linear-gradient(
      45deg,
      rgba(237, 208, 159, 1) 0%,
      rgba(171, 215, 216, 1) 60%
    );
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: 0px -2px; /* shift down by 20px */
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-body {
  position: relative;
}

.container {
  max-width: 1330px;
}

.sidebar {
  width: 30%;
}

.blog-container {
  width: 60%;
}

.sidebar-img {
  width: 260px;
  margin-bottom: -22px;
  z-index: 2;
}

.about-blog-box {
  width: 70%;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
  box-shadow: 2px 2px #67a9a9;
  line-height: 1.2;
  text-align: justify;
}

.about-blog-box p {
  margin-bottom: 0px;
}

.accordion-item {
  border: none;
}

.filters-box {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  width: 70%;
  margin: auto;
  box-shadow: 2px 2px #67a9a9;
}

.credits-button {
  margin: auto;
  color: #2b7379;
  background-color: #d6eef3e6;
  font-family: afacad;
  font-weight: 600;
  border-radius: 15px !important;
  border: none;
  width: 75%;
  box-shadow: none !important;
  display: flex;
  align-items: end;
  font-size: 0.9rem;
  justify-content: center;
}

.credits-button:hover {
  background-color: #67a9a9;
  color: white;
  transition: ease-in-out 0.2s;
}

.filters-title.accordion-button {
  margin: 0px;
  padding: 10px 15px !important;
  color: white;
  background-color: #2b7379;
  font-family: "Dosis";
  font-weight: 600;
  border-radius: 25px !important;
  border: none;
  width: 100%;
  box-shadow: none !important;
  display: flex;
  align-items: center;
}

.accordion-button:not(.collapsed) {
  border-radius: 25px !important;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.filters-title::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path d='M4 6l4 4 4-4H4z'/></svg>") !important;
}

.dotted-divider {
  border-top: 3px dotted #2b7379;
}

.dotted-divider-80 {
  width: 80%;
}

.accordion-body {
  padding: 0px 0px 0px 0px;
}

.filter-item {
  width: 100%;
  background-color: #67a9a9;
  font-family: afacad;
  color: white;
  padding: 5px;
  margin: 3px 2px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

.filter-item:hover {
  background-color: #2b7379;
  transition: ease-in-out 0.2s;
}

.filter-item:nth-of-type(2):hover {
  background-color: rgb(127, 101, 68);
  color: white;
}

.filter-item:nth-of-type(3):hover {
  background-color: #5e6292;
  color: white;
}

.filter-item:nth-of-type(2) {
  background-color: rgba(237, 208, 159, 1);
  color: rgb(127, 101, 68);
}

.filter-item:nth-of-type(3) {
  background-color: #a3a5cf;
  color: white;
}

.blog-container {
  margin-bottom: 50px;
}

.blog-box-outer {
  background-color: #67a9a9;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 2px 2px #2b7379;
  position: relative;
}

.blog-box-inner {
  background-color: white;
  padding: 10px 20px 25px 20px;
  border-radius: 25px;
  box-shadow: 2px 2px black;
}

.blog-header {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 25px;
  background-color: #2b7379;
  color: white;
  font-family: "Dosis";
  font-weight: 600;
  width: 50%;
}

.blog-post-container {
  text-align: left;
}

.post-date {
  margin: 0px 0px 5px 25px;
  font-weight: 600;
  width: 50%;
  color: #67a9a9;
}

.post-box {
  background-color: #d6eef3e6;
  border-radius: 15px;
  text-align: left;
  padding: 15px 25px 15px 25px;
}

.post-box p {
  margin: 0px;
  line-height: 1.3;
}

.post-box h2 {
  font-family: "Dosis";
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 1.5rem;
  margin-top: 5px;
}

.post-box h2 a {
  text-decoration: none;
  color: #2b7379;
}

.post-box h2 a:hover {
  text-decoration: 2px underline solid #2b7379;
}

.post-img-container {
  width: 30%;
  padding-right: 20px;
}

.post-img {
  max-width: 100%;
  border-radius: 10px;
}

.post-text-container {
  flex: 1 1 calc(66% - 2rem);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.post-text {
  text-align: justify;
}

.post-link {
  background-color: #2b7379;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 30%;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
}

.post-link:hover {
  background-color: #67a9a9;
}

.back-btn {
  margin: 5px 5px 10px 10px;
}

.back-btn a {
  color: white;
  text-decoration: none;
  width: 15%;
  background-color: rgba(237, 208, 159, 1);
  color: rgb(127, 101, 68);
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px rgb(175, 146, 95);
}

.back-btn a:hover {
  background-color: rgb(175, 146, 95);
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px rgb(155, 128, 83);
  transition: ease-in-out 0.2s;
}

.blog-ribbon-deco {
  position: absolute;
  width: 60px;
  z-index: 10;
  filter: drop-shadow(0 0 0.1rem gray);
  right: 10%;
  top: 10px;
}

.sidebar-buttons-row {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.tags-btn {
  flex: 1 1 calc(50% - 2rem);
  margin: 0px 3px;
}

.tags-btn a {
  background-color: #67a9a9;
  color: white;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  text-align: center;
  box-shadow: 2px 2px #2b7379;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags-btn a:hover {
  background-color: #2b7379;
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px #246469;
  transition: ease-in-out 0.2s;
}

.archive-btn {
  flex: 1 1 calc(50% - 2rem);
  margin: 0px 3px;
}

.archive-btn a {
  background-color: #a3a5cf;
  color: white;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  text-align: center;
  box-shadow: 2px 2px #7b7da4;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.archive-btn a:hover {
  background-color: #7b7daa;
  box-shadow: 2px 2px #5e5f82;
  transition: ease-in-out 0.2s;
}

.hide-btn {
  display: none;
}

.footer-container {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.footer-btn {
  background-color: rgba(237, 208, 159, 1);
  color: rgb(127, 101, 68);
  border: none;
  padding: 6px 30px 6px 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px rgb(175, 146, 95);
}

.footer-btn:hover {
  background-color: rgb(175, 146, 95);
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px rgb(155, 128, 83);
  transition: ease-in-out 0.2s;
}

/*---------------------------- pagination -----------------------------*/

.pagination {
  text-align: center;
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid none;
  margin: 0 5px;
  border-radius: 25px;
  font-family: afacad;
  background-color: rgba(237, 208, 159, 1);
  color: rgb(127, 101, 68);
}

.pagination a:hover {
  background-color: rgb(175, 146, 95);
  color: white;
  transition: ease-in-out 0.1s;
}

.page-link {
  border-radius: 50% !important;
  background-color: #67a9a954 !important;
  color: #2b7379 !important;
}

.page-link:hover {
  background-color: #2b7379 !important;
  color: white !important;
  transition: ease-in-out 0.1s;
}

.page-link.active {
  background-color: #2b7379 !important;
  color: white !important;
  transition: ease-in-out 0.1s;
  border: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}

/*-------------------- tags page ----------------------*/

.tag-list-description {
  text-align: left;
  line-height: 1.3;
  width: 85%;
}

.tag-list-description p {
  padding: 0px 20px;
}

.tag-list-description p a {
  text-decoration: underline dotted 2px #67a9a9;
  color: #246469;
  font-weight: 600;
}

.tag-list-item {
  margin: 6px;
  padding: 3px 10px;
  background-color: #d6eef3e6;
  color: #246469;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  display: block;
  text-align: left;
  border: 1px solid #2b7379c4;
}

.tag-list-item:nth-child(even) {
  background-color: rgb(255, 232, 192);
  color: rgb(127, 101, 68);
  border: 1px solid rgb(127, 101, 68);
}

.tag-list-item:hover {
  text-decoration: underline 2px;
}

/*-------------------- archive page ----------------------*/

.archive-list {
  text-align: left;
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
}

.archive-item {
  background-color: #d6eef3e6;
  margin: 5px 0px;
  padding: 5px 10px;
}

.archive-item a {
  text-decoration: none;
  color: #246469;
  text-decoration: dotted 2px #67a9a9 underline;
  font-weight: 600;
}

.archive-item a:hover {
  color: #67a9a9;
}

/*-------------------------- not found ----------------------------------*/

.not-found-img {
  width: 500px;
}

.not-found-container p {
  text-align: center;
  line-height: 1.2;
  font-size: 1.2rem;
  padding: 10px 20px 5px 20px;
}

/*-------------------------------- credits modal ----------------------------------*/

.about-modal-content {
  width: 36%;
  margin: auto;
  background-color: white !important;
  font-size: 1.1rem;
  color: #2b7379;
  font-family: afacad;
  text-align: left;
  line-height: 1.3;
}

.about-modal-content a {
  text-decoration: underline solid 2px #67a9a973;
  color: #2b7379;
  font-weight: 600;
}

.about-modal-content a:hover {
  color: #67a9a9;
}

.close-about-modal-btn {
  background-color: #67a9a9;
  color: white;
  border-radius: 25px;
  border: none;
  font-family: "Dosis";
  font-weight: 600;
}

.close-about-modal-btn:hover {
  background-color: #2b7379;
}

.credits-title {
  font-size: 1.2rem;
  background-color: #2b7379;
  color: white;
  font-weight: 600;
  font-family: "Dosis";
  border-radius: 10px;
  padding: 8px 16px;
}

.close-modal-container {
  display: flex;
  justify-content: end;
}

/*---------------------------- Scrollbar -----------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d6dcdc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    rgba(237, 208, 159, 1) 0%,
    rgba(171, 215, 216, 1) 60%
  );
  width: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    rgba(237, 208, 159, 1) 0%,
    rgba(171, 215, 216, 1) 60%
  );
  cursor: pointer;
}

/*---------------------------- responsiveness -----------------------------*/

@media only screen and (max-width: 992px) {
  .sidebar {
    width: 100%;
  }

  .blog-container {
    width: 100%;
    margin-top: 10px;
  }

  .credits-button {
    width: 50%;
  }

  .filters-box {
    width: 100%;
    padding: 12px;
  }

  .filter-item {
    width: auto;
    padding: 5px 25px 5px 25px;
  }

  hr {
    margin: 0.5rem 0;
  }

  .blog-header {
    width: 100%;
  }

  .blog-box-outer {
    padding: 10px;
    border-radius: 5px;
  }

  .blog-box-inner {
    padding: 10px 10px 17px 10px;
    border-radius: 10px;
  }

  .post-link {
    width: 70%;
    margin-top: 20px;
  }

  .post-img {
    max-height: 300px;
    margin: auto;
  }

  .post-img-container {
    width: 100%;
    padding-right: 0px;
    justify-content: center;
    text-align: center;
  }

  .post-text-container {
    width: 100%;
    margin-top: 20px;
  }

  .back-btn a {
    width: 40%;
  }

  .back-btn {
    margin: 0px 0px 10px 0px;
  }

  .blog-ribbon-deco {
    width: 35px;
    top: 5px;
  }

  .about-blog-box {
    width: 100%;
  }

  .sidebar-buttons-row {
    display: none;
  }

  .back-btn a {
    width: 100%;
  }

  .top-buttons-row {
    display: flex;
    margin: 0px auto 10px auto;
  }

  .top-btn {
    flex: 1 1 calc(33.33% - 2rem) !important;
    margin: 0px 3px 5px 3px;
    display: flex;
  }

  .top-btn a {
    padding: 5px 10px 5px 10px;
  }

  .dotted-divider {
    width: 100% !important;
  }

  .tag-list-description {
    text-align: justify;
    width: 100%;
  }

  .about-modal-content {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .pagination a {
    padding: 4px 12px;
    margin: 0 1px;
    border-radius: 25px;
  }

  .not-found-img {
    width: 250px;
  }

  .about-modal-content {
    width: 100%;
  }

  .footer-container {
    padding-right: 0px;
  }
}
