.post-date-label {
  margin: 20px 0px 0px 0px;
  font-weight: 600;
  width: 40%;
  color: #2b7379;
  background-color: #d6eef3e6;
  border-radius: 25px;
  text-align: left;
  padding: 5px 20px;
}

.post-title-header {
  font-family: "Dosis" !important;
  font-weight: 600;
  text-align: left;
  width: 75%;
  font-size: 1.5rem;
  margin: 0px 10px;
}

.post-body {
  line-height: 1.3;
  text-align: justify;
  margin: 10px;
}

.post-body-img-container {
  margin: auto;
  text-align: center;
}

.post-body-img {
  width: 300px;
  background-color: #2b737937;
  border-radius: 10px;
}

.post-img-caption {
  margin: 0px;
  font-style: italic;
}

.post-tags-box {
  display: flex;
  margin: 20px 10px;
  background-color: #d6eef3e6;
  padding: 10px;
  border-radius: 15px;
  align-items: center;
  flex-wrap: wrap;
}

.post-tags-box h3 {
  display: flex;
  font-family: "Dosis";
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0px 5px 0px 5px;
}

.post-tags-box a {
  margin: 3px;
  padding: 2px 10px;
  background-color: #67a9a9;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  font-size: 0.9rem;
}

.post-tags-box a:hover {
  background-color: #2b7379;
  transition: ease-in-out 0.2s;
}

@media only screen and (max-width: 992px) {
  .post-date-label {
    width: 90%;
  }

  .post-title-header {
    width: 90%;
  }
}

@media only screen and (max-width: 422px) {
  .post-body-img {
    width: 250px;
  }
}
