---
title: Tag or posts not found
permalink: 404.html
layout: "base.njk"
showBackBtn: true
nesting: "./"
---

<h1 class="blog-header mt-2 mb-3">not found</h1>
<img src="{{ '/assets/coming-soon.png' | url }}" class="not-found-img" />
<hr class="dotted-divider" />
<div class="not-found-container">
  <p>
    Sorry! There are no posts under this tag yet or you are trying to go to a
    non-existent page. Please check back later!
  </p>
</div>
