---
permalink: /blog-posts-summary.js
eleventyExcludeFromCollections: true
---
const blog_posts = [
{%- for post in collections.post | reverse -%}
  {
    title: {{ post.data.title | dump | safe }},
    date: {{ post.data.date | dump | safe }},
    description: {{ post.data.description | dump | safe }},
    url: {{ post.url | url | dump | safe }}
  }{% if not loop.last %},{% endif %}
{%- endfor %}
];
